<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jono.apologeticproofs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DivineAttributesPackage.DivineAttributes" />
        <activity android:name=".ProofsForExistence.ArgumentsForGodsExistence" />
        <activity android:name=".ProofsForExistence.CosmologicalArgument" />
        <activity android:name=".DivineAttributesPackage.Omnipotence" />
        <activity android:name=".DivineAttributesPackage.Omniscience" />
        <activity android:name=".DivineAttributesPackage.Omnibenevolence" />
        <activity android:name=".DivineAttributesPackage.Omnipresence" />
        <activity android:name=".DivineAttributesPackage.GodPersonal" />
        <activity android:name=".DivineAttributesPackage.GodSpirit" />
        <activity android:name=".DivineAttributesPackage.GodEternal" />
        <activity android:name=".ProofsForExistence.FineTuningArgument" />
        <activity android:name=".ProofsForExistence.ConsciousnessArgument" />
        <activity android:name=".ProofsForExistence.ResurrectionArgument" />
        <activity android:name=".ObjectionsToExistence.ObjectionsForGodsExistence" />
        <activity android:name=".ObjectionsToExistence.ProblemOfEvil" />
        <activity android:name=".Apologetics.Apologetics" />
        <activity android:name=".Apologetics.WhatIsApologetics" />
        <activity android:name=".Apologetics.WhyStudyApologetics"></activity>
    </application>

</manifest>